
<!DOCTYPE html>
<html lang="en" data-ng-app="website">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>


   <meta charset="utf-8">
   <title>Trang chủ</title>
   <link rel="SHORTCUT ICON" href="~/Content/mt-demo/59200/59262/mt-content/uploads/2016/11/favicon-auto4bf3.jpg" type="favicon-auto4bf3.jpg" />


   <link rel="canonical" href="index.html" />
   <meta property="og:title" content="Home" />
   <meta property="og:url" content="index.html" />
   <meta property="og:type" content="website" />
   <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link href="~/Content/mt-includes/css/assets.min5db3.css" rel="stylesheet" />
   <link href="~/Content/Fonts/font.css" rel="stylesheet" />
   <style>

   </style>
   <link href="~/Content/mt-demo/59200/59262/mt-content/assets/stylesff4c.css" rel="stylesheet" />









</head>
<body class="moto-background moto-website_live">






   <div class="page">

      <header id="section-header" class="header moto-section" data-widget="section" data-container="section">
         <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="row" style="" data-bg-position="left top" data-spacing="saaa" data-visible-on="-">
            <div class="container-fluid">
               <div class="row" data-container="container">
                  <div class="moto-cell col-sm-5 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column" style="" data-bg-position="left top">
                     <div data-widget-id="wid__image__5e53ea96e9410" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image" style="padding-top: 0px;">
                        <a href="index.html" data-action="home_page" class="moto-widget-image-link moto-link">
                           <img src="~/Content/mt-demo/59200/59262/mt-content/uploads/2016/11/logo4.png" class="moto-widget-image-picture lazyload" data-id="154" title="" alt="">
                        </a>
                     </div>
                  </div><div class="moto-cell col-sm-7 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column" style="" data-bg-position="left top">
                     <div class="moto-widget moto-widget-row row-gutter-0 moto-justify-content_center" data-widget="row" data-grid-type="xs" style="" data-bg-position="left top" data-visible-on="-">
                        <div class="container-fluid">
                           <div class="row" data-container="container">
                              <div class="moto-cell col-xs-10 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column" style="" data-bg-position="left top">
                                 <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-visible-on="-" data-animation="">
                                    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: right;" class="moto-text_system_8">Cần trợ giúp?</p></div>
                                 </div>
                              </div><div class="moto-cell col-xs-2 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column" style="" data-bg-position="left top">
                                 <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-visible-on="-" data-animation="">
                                    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: right;">24/7<br></p></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div><div data-widget-id="wid_1582557849_wtwt9xs19" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto moto-visible-on_tablet_hidden moto-visible-on_mobile-h_hidden moto-visible-on_mobile-v_hidden"
                                data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="+desktop">
                        <div class="moto-widget-spacer-block" style="height:10px"></div>
                     </div><div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-visible-on="-" data-animation="">
                        <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: right;" class="moto-text_system_7"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-small moto-spacing-bottom-zero moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2016/11/mt-0637-phone-icon.png" data-id="156" alt="" width="27" height="45" src="~/Content/mt-demo/59200/59262/mt-content/uploads/2016/11/mt-0637-phone-icon.png"></span></span><a href="tel:0359110110" data-action="call" class="moto-link">0359110110</a></p></div>
                     </div><div data-widget-id="wid_1582557849_v2rn12fm3" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
                                data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="+desktop,tablet,mobile-h,mobile-v">
                        <div class="moto-widget-spacer-block" style="height:20px"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div><div class="moto-widget moto-widget-container moto-container_header_5819fcb91" data-widget="container" data-container="container" data-css-name="moto-container_header_5819fcb91" data-moto-sticky="{}" data-bg-position="left top">
            <div class="moto-widget moto-widget-row row-fixed" data-widget="row" style="" data-bg-position="left top">
               <div class="container-fluid">
                  <div class="row" data-container="container">
                     <div class="moto-cell col-sm-12 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column" style="" data-bg-position="left top">
                        <div data-widget-id="wid__menu__5e53ea96eda65" class="moto-widget moto-widget-menu moto-preset-default moto-align-left moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-preset="default" data-widget="menu">
                           <a href="#" class="moto-widget-menu-toggle-btn"><i class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i></a>
                           <ul class="moto-widget-menu-list moto-widget-menu-list_horizontal">
                              <li class="moto-widget-menu-item">
                                 <a href="index.html" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link">TRANG CHỦ</a>
                              </li>
                              <li class="moto-widget-menu-item">
                                 <a href="about/index.html" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">GIỚI THIỆU</a>
                              </li>
                              <li class="moto-widget-menu-item moto-widget-menu-item-           has-submenu">
                                 <a href="services/index.html" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">DỊCH VỤ<span class="fa moto-widget-menu-link-arrow"></span></a>
                                 <ul class="moto-widget-menu-sublist">
                                    <li class="moto-widget-menu-item">
                                       <a href="history/index.html" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link">CHÍNH SÁCH BẢO MẬT</a>
                                    </li>
                                    <li class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
                                       <a href="blog/index.html" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-widget-menu-link-submenu moto-link">SẮP XẾP<span class="fa moto-widget-menu-link-arrow"></span></a>
                                       <ul class="moto-widget-menu-sublist">
                                          <li class="moto-widget-menu-item">
                                             <a href="blog/index.html" data-action="blog.index" class="moto-widget-menu-link moto-widget-menu-link-level-3 moto-link">BLOG</a>
                                          </li>
                                          <li class="moto-widget-menu-item">
                                             <a href="contacts/index.html" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-3 moto-link">LIÊN HỆ</a>
                                          </li>
                                       </ul>

                                    </li>
                                    <li class="moto-widget-menu-item">
                                       <a href="blog/index.html" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link">THỬ NGHIỆM</a>
                                    </li>
                                    <li class="moto-widget-menu-item">
                                       <a href="blog/index.html" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link">TIN TỨC</a>
                                    </li>
                                 </ul>

                              </li>
                              <li class="moto-widget-menu-item">
                                 <a href="blog/index.html" data-action="blog.index" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">BLOG</a>
                              </li>
                              <li class="moto-widget-menu-item">
                                 <a href="contacts/index.html" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">LIÊN HỆ</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>


   </div>
   @RenderBody()
   <footer id="section-footer" class="footer moto-section" data-widget="section" data-container="section">
      <div class="moto-widget moto-widget-row row-fixed moto-bg-color3_3 moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="row" style="" data-bg-position="left top" data-visible-on="-" data-spacing="lala" data-draggable-disabled="">
         <div class="container-fluid">
            <div class="row" data-container="container">
               <div class="moto-cell col-sm-9 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column" style="" data-bg-position="left top">
                  <div class="moto-widget moto-widget-row" data-widget="row" style="" data-bg-position="left top" data-draggable-disabled="">
                     <div class="container-fluid">
                        <div class="row" data-container="container">
                           <div class="moto-cell col-sm-6 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column" style="" data-bg-position="left top">
                              <div class="moto-widget moto-widget-row" data-widget="row" data-grid-type="xs" style="" data-bg-position="left top" data-draggable-disabled="">
                                 <div class="container-fluid">
                                    <div class="row" data-container="container">
                                       <div class="moto-cell col-xs-6 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column" style="" data-bg-position="left top"><div data-spacing="aaaa" class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-visible-on="-"><div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_13">DANH MỤC<br></p></div></div><div data-spacing="sasa" class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-visible-on="-" data-draggable-disabled=""><div class="moto-widget-text-content moto-widget-text-editable" aria-multiline="true"><p class="moto-text_system_14"><a target="_self" href="index.html" data-action="page" data-id="9" class="moto-link">TRANG CHỦ</a><br><a target="_self" href="about/index.html" data-action="page" data-id="10" class="moto-link">GIỚI THIỆU</a><br><a target="_self" href="services/index.html" data-action="page" data-id="11" class="moto-link">DỊCH VỤ</a><br><a target="_self" href="blog/index.html" data-action="blog.index" data-id="3" class="moto-link">BLOG</a><br><a target="_self" href="contacts/index.html" data-action="page" data-id="17" class="moto-link">LIÊN HỆ</a></p></div></div></div><div class="moto-cell col-xs-6 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column" style="" data-bg-position="left top">
                                          <div data-spacing="aaaa" class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-visible-on="-"><div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_13">THÀNH VIÊN </p></div></div><div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="sasa" data-visible-on="-" data-animation="">
                                             <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_14"><a href="#" target="_self" data-action="url" class="moto-link">DIỄN ĐÀN</a><br><a href="#" target="_self" data-action="url" class="moto-link">KHUYẾN MÃI</a><br><a href="#" target="_self" data-action="url" class="moto-link">ĐĂNG NHẬP</a><br><a target="_self" href="blog/index.html" data-action="page" data-id="22" class="moto-link">TIN TỨC</a></p></div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div><div class="moto-cell col-sm-6 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column" style="" data-bg-position="left top">
                              <div data-spacing="aasa" class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-visible-on="-"><div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_13">LIÊN HỆ</p></div></div><div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-visible-on="-" data-animation="">
                                 <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_186"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-zero moto-spacing-bottom-zero moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2016/11/mt-0637-footer_icons01.png" data-id="146" alt="" width="18" height="15" src="~/Content/mt-demo/59200/59262/mt-content/uploads/2016/11/mt-0637-footer_icons01.png"></span></span>&nbsp; &nbsp;&nbsp;<a target="_self" data-action="page" data-id="17" class="moto-link" href="contacts/index.html"></a>Hà Đông, Hà Nội</a></p><p class="moto-text_186">&nbsp;</p><p class="moto-text_186"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-zero moto-spacing-bottom-zero moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2016/11/mt-0637-footer_icons02.png" data-id="145" alt="" width="9" height="15" src="~/Content/mt-demo/59200/59262/mt-content/uploads/2016/11/mt-0637-footer_icons02.png"></span></span>&nbsp; &nbsp; &nbsp; &nbsp;<a data-action="call" class="moto-link" href="tel:0359110110">0359110110</a></p><p class="moto-text_186">&nbsp;</p><p class="moto-text_186"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-zero moto-spacing-bottom-zero moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2016/11/mt-0637-footer_icons03.png" data-id="147" alt="" width="21" height="17" src="~/Content/mt-demo/59200/59262/mt-content/uploads/2016/11/mt-0637-footer_icons03.png"></span></span>&nbsp; &nbsp;&nbsp;<a data-action="mail" class="moto-link" href="mailto:cuuho.chgt247@gmail.com">cuuho.chgt247@gmail.com</a></p></div>
                              </div><div id="wid_1582560669_nwehl6hbh" data-widget-id="wid_1582560669_nwehl6hbh" class="moto-widget moto-widget-social-links-extended moto-preset-default moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="social_links_extended" data-preset="default">
                                 <ul class="moto-widget-social-links-extended__list">
                                    <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-1">
                                       <a href="#" class="moto-widget-social-links-extended__link" target="_self">
                                          <span class="moto-widget-social-links-extended__icon fa fa-facebook">
                                          </span>
                                       </a>
                                    </li>
                                    <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-2">
                                       <a href="#" class="moto-widget-social-links-extended__link" target="_self">
                                          <span class="moto-widget-social-links-extended__icon fa fa-twitter">
                                          </span>
                                       </a>
                                    </li>
                                    <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-3">
                                       <a href="#" class="moto-widget-social-links-extended__link" target="_self">
                                          <span class="moto-widget-social-links-extended__icon fa fa-pinterest">
                                          </span>
                                       </a>
                                    </li>
                                    <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-4">
                                       <a href="#" class="moto-widget-social-links-extended__link" target="_self">
                                          <span class="moto-widget-social-links-extended__icon fa fa-youtube">
                                          </span>
                                       </a>
                                    </li>
                                 </ul>
                                 <style type="text/css">
                                 </style>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                  <div data-widget-id="wid_1582560430_lyyj6f58d" class="moto-widget moto-widget-facebook_page_plugin moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="facebook_page_plugin">
                     <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/C%E1%BB%A9u-h%E1%BB%99-th%E1%BB%A7-%C4%91%C3%B4-hotline-0359-110-110-104397601066698/" data-width="500" data-height="295" data-hide-cover="0" data-show-facepile="0" data-tabs="timeline" data-hide-cta="0" data-small-header="0" data-adapt-container-width="1" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=270&amp;height=295&amp;hide_cover=false&amp;hide_cta=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FC%E1%BB%A9u-h%E1%BB%99-th%E1%BB%A7-%C4%91%C3%B4-hotline-0359-110-110-104397601066698%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;small_header=false&amp;tabs=timeline&amp;width=500"><span style="vertical-align: bottom; width: 270px; height: 295px;"><iframe name="f3b8968ebfb2cd8" width="500px" height="295px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.8/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df11f44bb2c37828%26domain%3Dtemplate59262.motopreview.com%26origin%3Dhttps%253A%252F%252Ftemplate59262.motopreview.com%252Ff1f80b20ae7850c%26relation%3Dparent.parent&amp;container_width=270&amp;height=295&amp;hide_cover=false&amp;hide_cta=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FC%E1%BB%A9u-h%E1%BB%99-th%E1%BB%A7-%C4%91%C3%B4-hotline-0359-110-110-104397601066698%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;small_header=false&amp;tabs=timeline&amp;width=500" style="border: none; visibility: visible; width: 270px; height: 295px;" class=""></iframe></span></div>
                  </div>
               </div>
            </div>
         </div>
      </div><div class="moto-widget moto-widget-row row-gutter-0 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="aaaa" style="" data-bg-position="left top">


         <div class="container-fluid">
            <div class="row" data-container="container">


               <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
                  <div data-widget-id="wid_1582560430_nro5r8wkj" class="moto-widget moto-widget-map moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="map" data-spacing="aaaa">
                     <div class="moto-widget-cover"></div>
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d232.8691418885278!2d105.75695835595504!3d20.956278885501405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313452e84764e1d1%3A0x9cfc668759ae680f!2zMjDCsDU3JzIzLjAiTiAxMDXCsDQ1JzI1LjUiRQ!5e0!3m2!1svi!2s!4v1616034908613!5m2!1svi!2s" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                  </div>


               </div>



            </div>
         </div>
      </div>
      <div class="moto-widget moto-widget-row row-fixed moto-bg-color3_3 moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="sasa" style="" data-bg-position="left top">


         <div class="container-fluid">
            <div class="row" data-container="container">


               <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                  <div class="moto-widget moto-widget-row moto-justify-content_bottom moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="row" data-grid-type="md" data-spacing="aaaa" style="" data-bg-position="left top" data-visible-on="-">
                     <div class="container-fluid">
                        <div class="row" data-container="container">
                           <div class="moto-cell col-md-2 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column" style="" data-bg-position="left top">
                              <div data-widget-id="wid__image__5e53f4aa8a4f0" class="moto-widget moto-widget-image moto-preset-default moto-align-left_tablet moto-align-left_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="image">
                                 <a href="index.html" data-action="home_page" class="moto-widget-image-link moto-link">
                                    <img src ="/Content/mt-demo/59200/59262/mt-content/uploads/2016/11/mt-0637-footer-logo.png" class="moto-widget-image-picture lazyload" data-id="159" title="" alt="">
                                 </a>
                              </div><div data-widget-id="wid_1582638102_bw8r2yshu" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto moto-visible-on_desktop_hidden"
                                         data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="+tablet,mobile-h,mobile-v">
                                 <div class="moto-widget-spacer-block" style="height:10px"></div>
                              </div>
                           </div><div class="moto-cell col-md-10 moto-widget moto-widget-row__column" data-container="container" data-widget="row.column" style="" data-bg-position="left top">
                              <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-visible-on="-" data-animation="">
                                 <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_217">© @DateTime.Now.Year.ToString()&nbsp;| <a data-action="page" data-id="18" class="moto-link" href="#">Website thiết kế bởi</a><a data-action="page" data-id="18" class="moto-link" href="https://www.facebook.com/teetran1732/" style="color: blue;"> Tee Trần</a></p></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>



            </div>
         </div>
      </div>
   </footer>



   <div data-moto-back-to-top-button class="moto-back-to-top-button">
      <a ng-click="toTop($event)" class="moto-back-to-top-button-link">
         <span class="moto-back-to-top-button-icon fa"></span>
      </a>
   </div>

   <div data-moto-widget-callback class="moto-widget-callback moto-widget-callback_closed moto-preset-default">
      <div class="moto-widget-callback__wrapper">
         <div class="moto-widget-callback__open-button moto-widget-callback__thumbnail-wrapper moto-widget-callback__thumbnail-wrapper_icon">
            <div class="moto-widget-callback__overlay moto-widget-callback__overlay_open-button"></div>
            <div class="moto-widget-callback__thumbnail moto-widget-callback__thumbnail_icon fa fa-fw fa-phone"></div>

         </div>
         <div class="moto-widget-callback__body moto-widget-callback__body_more-details-enabled" style="display: none;">
            <div class="moto-widget-callback__agent moto-widget-callback__thumbnail-wrapper moto-widget-callback__thumbnail-wrapper_image">
               <div class="moto-widget-callback__thumbnail moto-widget-callback__thumbnail_image" style="background-image: url(/Content/mt-demo/59200/59262/mt-content/uploads/2016/11/truongbui.jpg);"></div>

            </div>
            
            <div class="moto-widget-callback__description moto-widget-text">
               <p class="moto-text_234" style="text-align: center;">TRƯỜNG BÙI</p><p class="moto-text_system_10" style="text-align: center;">Lái Xe</p><p class="moto-text_232" style="text-align: center;"><a class="moto-link" data-action="call" href="tel:0359110110"><span class="fa"></span> 0359110110</a></p>
            </div>
            <div class="moto-widget-callback__more-details-wrapper">
               <hr class="moto-widget-callback__more-details-divider">
               <div class="moto-widget-callback__more-details">
                  <div class="moto-widget-callback__more-details-item">
                     <div class="moto-widget-callback__overlay moto-widget-callback__overlay_link"></div>
                     <a href="https://t.me/#" class="moto-widget-callback__link moto-widget-callback__link-telegram_chat" title="Telegram" target="_blank"></a>
                  </div>
                  <div class="moto-widget-callback__more-details-item">
                     <div class="moto-widget-callback__overlay moto-widget-callback__overlay_link"></div>
                     <a href="https://wa.me/#" class="moto-widget-callback__link moto-widget-callback__link-whatsapp_chat" title="WhatsApp" target="_blank"></a>
                  </div>
                  <div class="moto-widget-callback__more-details-item">
                     <div class="moto-widget-callback__overlay moto-widget-callback__overlay_link"></div>
                     <a href="viber://pa/info?uri=#" class="moto-widget-callback__link moto-widget-callback__link-viber_public_account" title="Viber" target="_blank"></a>
                  </div>
                  <div class="moto-widget-callback__more-details-item">
                     <div class="moto-widget-callback__overlay moto-widget-callback__overlay_link"></div>
                     <a href="skype:#?call" class="moto-widget-callback__link moto-widget-callback__link-skype_call" title="Skype (Call)" target="_blank"></a>
                  </div>
               </div>
            </div>
            <div class="moto-widget-callback__more-details-button-wrapper"><i class="moto-widget-callback__more-details-button fa fa-angle-down"></i></div>
            <div class="moto-widget-callback__close-button">×</div>
         </div>
      </div>
   </div>
   <script src="/Content/mt-includes/js/website.assets.min4bb7.js?_build=1608589712" type="text/javascript" data-cfasync="false"></script>
   <script type="text/javascript" data-cfasync="false">
      var websiteConfig = websiteConfig || {};
      websiteConfig.address = 'index.html';
      websiteConfig.addressHash = '02793f151bc6188f6bba7b9e31e22c61';
      websiteConfig.apiUrl = 'api.json';
      websiteConfig.preferredLocale = 'en_US';
      websiteConfig.preferredLanguage = websiteConfig.preferredLocale.substring(0, 2);
      websiteConfig.back_to_top_button = { "topOffset": 300, "animationTime": 500, "type": "theme" };
      websiteConfig.popup_preferences = { "loading_error_message": "The content could not be loaded." };
      websiteConfig.lazy_loading = { "enabled": true };
      websiteConfig.cookie_notification = { "enabled": false, "content": "<p class=\"moto-text_normal\">This website uses cookies to ensure you get the best experience on our website.<\/p>", "content_hash": "6610aef7f7138423e25ee33c75f23279", "controls": { "visible": "close,accept", "accept": { "label": "Got it", "preset": "default", "size": "medium", "cookie_lifetime": 365 } } };
      angular.module('website.plugins', []);
   </script>
   <script src="~/Content/mt-includes/js/website.min5eb7.js?_build=1608589704" type="text/javascript" data-cfasync="false"></script>
   <script type="text/javascript">$.fn.motoGoogleMap.setApiKey('AIzaSyCPbz3W389x_owB2TlrqPuMEYCTFVuRvMY');</script>



</body>


</html>